<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcom to shoping cart</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <header style="height: 50px; width: 100%;color: rgb(255, 38, 0); background-color: rgb(138, 138, 223);">
            <h1>Welcome to Online Shopy</h1>
        </header>
        <div style="background-color: blue;width: 15%; height: 500px;">
            <h4>This is the boady</h4>
        </div>
    </div>
</body>
</html>