{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="card" height="300px" src="{{ item.item_image }}"/>
            </div>
            <div class="col-md-6">
                <h1>{{ item.item_name }}</h1>
                <h2>{{ item.item_disc }}</h2>
                <h3>price : {{ item.item_price }}</h3>
                <!-- <a href="/delete/{{ item.id }}" class="btn btn-danger">Delete</a>
                we are changeing hardcoded url to shows below -->
                <a href="{% url 'delete_item' item.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    
    <!-- <h1>{{ item.item_name }}</h1>
    <h2>{{ item.item_disc }}</h2>
    <h3>price : {{ item.item_price }}</h3> -->

    {% endblock %}
</body>
</html>